Day_4/Video_Resume_Coverletter.json
{
  "name": "Video_Resume_Coverletter",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM",
          "mode": "list",
          "cachedResultName": "Content_automate_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit#gid=1158507694"
        },
        "options": {}
      },
      "id": "744fa6c2-059f-4fc4-8105-3267d9b6c53c",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -16
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "CitZglNrvzG6OHl5",
          "name": "Google Sheets Trigger-Divij"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // Use the field name containing the original idea text\n    \"Idea\": $('Code2').first().json.Idea,\n\n    // Use the field name containing the script generated by the LLM\n    \"Generated Script\": $input.first().json.message.content,\n\n    // Set the status for the Google Sheet update\n    \"Approval Status\": \"Pending\",\n    \"Status\": \"Processing\"\n  }\n}];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ],
      "id": "5ed25759-ea3b-4303-b400-5e5455a284ef",
      "name": "Code1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1840,
        240
      ],
      "id": "411b6e32-03b3-4897-a5a3-b2337dbb0144",
      "name": "Wait",
      "webhookId": "337b37b2-3d9d-412d-8918-73c650f6800f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33aeca1e-ce82-46b8-b36b-1fc2d224eb8c",
              "leftValue": "={{ $json['Approval Status'].trim() }}",
              "rightValue": "=Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        512
      ],
      "id": "91b35aaf-43fa-459a-b27e-39fb5a02b276",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "=ZDkwYmRkZmE2NzVjNDc1ZThjMWEwZmZkMWM5NDlmZDctMTc0MjEyNTE5NA=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"ca51d13edad94c6389783fe1e2f5be90\", \n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json['Generated Script'] }}\",\n        \"voice_id\": \"ea59a0f7d7ee4f4795e554ec6068a77b\", \n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  }\n}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        480
      ],
      "id": "0c60a66f-cbda-48fe-be95-1330b92e9695",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1488,
        688
      ],
      "id": "f925250c-95b4-4561-9bdc-4b2ad29cda88",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        480
      ],
      "id": "7c236938-31b3-453c-94d4-ad2f94e980e0",
      "name": "Wait1",
      "webhookId": "ef04dfb8-3958-49d7-832d-7a803171c7f0"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "=081ed576e96944f6be454024570ba352"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "ZDkwYmRkZmE2NzVjNDc1ZThjMWEwZmZkMWM5NDlmZDctMTc0MjEyNTE5NA=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        480
      ],
      "id": "4ca3f7ae-1938-40e3-b019-2ce95ca1d86f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.data.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        480
      ],
      "id": "4e5ff151-d17e-4620-b6bb-faa488bcb358",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item.json.Status === \"Processing\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -16
      ],
      "id": "37ac7c82-c549-4023-8ff2-cfa5165584c1",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        896,
        240
      ],
      "id": "156754b3-77c5-434a-88e7-ea154afb8584",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM",
          "mode": "list",
          "cachedResultName": "Content_automate_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit#gid=1158507694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idea": "={{ $json.Idea }}",
            "Approval Status": "={{ $json['Approval Status'] }}",
            "Generated Script": "={{ $json['Generated Script'] }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Idea"
          ],
          "schema": [
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Script",
              "displayName": "Generated Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        240
      ],
      "id": "b2a325ab-c101-475d-bb78-dd36b0b34e6e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RwoAKlwUumhnvQHT",
          "name": "Google Sheets-Divij"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM",
          "mode": "list",
          "cachedResultName": "Content_automate_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit#gid=1158507694"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        240
      ],
      "id": "20348ce6-6ed0-4c7d-a411-f9e7feff2b84",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yt7eNxapIhbCXbhf",
          "name": "Mentor-Divij"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a resume video expert where your task is to generate a script about my profile for 60 seconds where I will be introducing the recruiter or hiring manager with personalised resume video about my profile and why I am suited for this role. \n\nJust output me pure english script without scenes or any other thing as this text is fed to Heygen to create a personalised AI avatar video ",
              "role": "system"
            },
            {
              "content": "=This is the idea -  {{ $json.Idea }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        272
      ],
      "id": "04fc2708-710a-4084-b76e-7d889c45e2d0",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "61avKbq3MZ93nzjH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // Use the field name containing the original idea text\n    \"Idea\": $('Code2').first().json.Idea,\n\n    // Use the field name containing the script generated by the LLM\n    \"Generated Script\": $input.first().json.message.content,\n\n    // Set the status for the Google Sheet update\n    \"Approval Status\": \"Pending\",\n    \"Status\": \"Completed\"\n  }\n}];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        480
      ],
      "id": "c9ea0a84-9d38-4b5b-977d-688f938bd5ee",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM",
          "mode": "list",
          "cachedResultName": "Content_automate_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit#gid=1158507694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idea": "={{ $json.Idea }}",
            "Approval Status": "={{ $json['Approval Status'] }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Idea"
          ],
          "schema": [
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Script",
              "displayName": "Generated Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        480
      ],
      "id": "7332fb6f-67b7-4a14-abcf-f6113a6b9bf6",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RwoAKlwUumhnvQHT",
          "name": "Google Sheets-Divij"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "354fba33-fee4-49d7-a110-0eb5987b14ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5adcf055af070598f43d6403984bb72f646a6684587b890d0694cbc7278091f8"
  },
  "id": "lG3WP3JwiMUZ7Aol",
  "tags": []
}
